@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-1000 {
  animation-delay: 1s;
}

.delay-2000 {
  animation-delay: 2s;
}

.active{
 background: linear-gradient(to left, #cfdef8, #e8daf9);
}
.color{
 /* background: linear-gradient(to top, #ccdbf6, #e2d6f0); */
 background: linear-gradient(to top, #fcfdfd, #d7c2f0);
 box-shadow:  0px 0px 4px #bd98eb;
}
.bgcolor{
  background: linear-gradient(to left, #d6e2f7, #e2d3f5);
  border-radius: 20px 350px 70px 250px;
}

.bgcolor1{
  background: linear-gradient(to bottom, #4f4ff2, #dccbf3);
  border-radius:  250px 30px 350px 90px ;
}